.codeEditor {
    font-family: 'Courier Prime', monospace;
    flex: 1;

    resize: none;
    overflow: scroll;
    white-space: nowrap;

    margin-right: 1.5rem;

    border-color: var(--primary);
}

.codeEditor:focus {
    outline: none;
}