.executeButton {
    margin-left: auto;
    margin-right: 0.75rem;

    max-height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    font-size: 1.10rem;

    border-color: var(--primary);
    cursor: pointer;
}

.exampleSelect {
    max-height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    font-size: 1.10rem;

    border-color: var(--primary);

    cursor: pointer;

    background-image: url("data:image/svg+xml;utf8,<svg fill='%23FF6161' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}