.mainBox {
    height: 100vh;
    padding: 3rem;

    display: flex;
    flex-direction: column;
}

.titleText {
    margin-top: 0px;
    margin-bottom: 0px;
}

.taskBar {
    display: flex;
    align-items: center;

    margin-bottom: 0.5rem;
}

.editorBox {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}