@import 'npm:sanitize.css';
@import 'npm:sanitize.css/forms.css';
@import 'npm:sanitize.css/typography.css';

:root {
    --primary: #FF6161;
}

body {
    font-family: "Tinos", serif;
    color: var(--primary);
    background-color: black;

    scrollbar-color: black var(--primary);
}