@import 'npm:sanitize.css';
@import 'npm:sanitize.css/forms.css';
@import 'npm:sanitize.css/typography.css';

body {
    font-family: "Tinos", serif;
}

.main-box {
    background-color: aquamarine;
}

.output-text {
    height: 300px;
    overflow: scroll;
    text-wrap: nowrap;
    white-space: pre-wrap;
}